// TO UPDATE:
// sass styles/main.scss styles/main.css

// Colors scheme defined here
$lightblue: #6190ac;
$darkblue: #395974;
$red: #cd4924;
$black: #000000;
$silver: #F2F5F7;
$white: #ffffff;
$lightgrey: #b9bbb6;
$grey: #6b655a;
$greenblue: #3c667b;

$selected: $lightblue;
$info: $lightblue;
$link: $greenblue;
$primary: $darkblue;
$background: $silver;

// Import bulma defaults
@import '../vendors/bulma/bulma.sass';

html {
  background: $background;
}

.footer {
  padding: 1.5rem 1.5rem 1.5rem;
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

// For picture in hero
.image img.is-ellipse {
  border-radius: 100000px;
  border-bottom-left-radius: 35% 25%;
  border-bottom-right-radius: 35% 25%;
  border-top-left-radius: 35% 25%;
  border-top-right-radius: 35% 25%;
  border: 4px solid $darkblue;
}

// For transparent placeholder in hero (244/444 page)
.image img.is-transparent {
  border-radius: 100000px;
  border-bottom-left-radius: 35% 25%;
  border-bottom-right-radius: 35% 25%;
  border-top-left-radius: 35% 25%;
  border-top-right-radius: 35% 25%;
  border: 0px solid $darkblue;
}

// Small horizontal rule
.small-hr {
  background-color: $background;
  border: none;
  display: block;
  height: 0.5px;
  margin: 1.0rem 0;
}

// Large horizontal rule
.large-hr {
  background-color: $background;
  border: none;
  display: block;
  height: 1.5px;
  margin: 6.0rem 0;
}

.has-text-weight-bold {
  font-weight: 600 !important;
  color: $black;
}

.fix-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow:hidden;
}

// For hero image background
.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.5;
}

// Custom hero size
@media screen and (min-width: 769px), print {
  .hero.is-medsmall .hero-body {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

// Fix navbar box shadow color
.navbar {
  background-color: $darkblue;
  box-shadow: 0 3px 0 0 $darkblue;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}




// TO UPDATE:
// sass styles/main.scss styles/main.css